/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    padding: 16px;
}
.imagen-principal img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.lista-imagenes img{
    width: 100%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: block;
}
.lista-imagenes{
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
} */
body{
    background-color: lightgrey;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .galeria{
    margin: auto;
    background-color: white;
    width: 860px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: 800px;
      height: 400px;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }